{% extends "layout.html" %}
{% block body %}

<!-- Local scripts and data -->
<script src="js/questions.js"></script>
<script src="js/location.js"></script>
<script src="js/survey-manager.js"></script>
<script src="js/mobile-detect.min.js"></script>

<!-- survey.js integration -->
<script>
    function sendDataToServer(survey) {
    $("#take-another").css('visibility','visible');
        getLocationString(function(error, positionString) {
            //Add hidden fields to result from survey
            data = survey.data;
            data.survey_location = positionString;
            data.survey_date = getDateString();
            data.survey_time = getTimeString();
            data.volunteer = $('#volunteer').val();
            const apiKey = $('#survey_api_key').val();
            //Send data to server
            console.log("API: " + apiKey);
            $.ajax({
                url: "{{ url_for('completedSurvey') }}",
                type: 'post',
                data: data,
                headers: {
                    "x-api-key": apiKey
                },
            });
        });
    }

    function embedSurvey()
    {
        const survey = SurveyManager.getInstance();

        //Use onComplete event to save the data           
        survey.onComplete.add(sendDataToServer);

        survey.onCurrentPageChanged.add(() => {
            $('html, body').animate({ scrollTop: 0 }, 'fast');
        });
    }

    function reloadPage()
    {
        const survey = SurveyManager.getInstance();
        survey.clear();
        survey.render();
        $("#take-another").css('visibility','hidden');
    }

    function verifyApiKey()
    {
        $.ajax({
            url: "{{ url_for('getSurveyCount') }}",
            type: 'get',
            headers: {
                "x-api-key": $('#survey_api_key').val()
            },
            success: function() {
                alert("Data key validation successful.")
                $("#keyValidationContainer").hide()
                embedSurvey()
            },
            error: function() {
                alert("Data key validation failed. Please try again.")
            }
        });
    }

    $(document).ready(function() {
        $("#verify_api_key").on( "click", verifyApiKey);
    });
</script>

<!-- Begin Main page content -->
<div class="container">
 <!-- Introduction -->
     <div class="panel panel-default">
         <div class="panel-heading">
         <img src="img/Thi.png" alt="thi" align="right">
             <h3 style="color:white;">Tampa/Hillsborough County Continuum of Care | Point in Time (PIT) Survey</h3>
         </div>
         <div class="panel-body">
             <div class="row">
                 <div class="col-md-3">
                     <p>Hello, my name is <input type="text" class="form-control input-sm" name="volunteer" id="volunteer"/></p>
                 </div>
                 <div class="col-md-9">
                     I’m a volunteer for the Tampa/Hillsborough County Continuum of Care.  We are conducting a survey to count homeless people to provide better services to them in our community.  Your participation is voluntary and your responses will not be shared with anyone outside of our team.  I need to read each question all the way through.  May I have a few minutes of your time?
                 </div>
             </div>
         </div>
     </div>
    <!-- SURVEY DATA HERE -->
    <p class="lead"><span class="glyphicon glyphicon glyphicon-question-sign"></span>Information</p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="color:white;">Survey Questions</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <p> If the person declines to participate please gather as much identifying/descriptive info as possible on the observation survey. </p>
                </div>
            </div>
            <div class="row" id="keyValidationContainer">
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Data Key" class="form-control input-sm" id="survey_api_key"/>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary" style="width: 100%" id="verify_api_key">Verify Key</button>
                </div>
                <div class="col-md-6">
                    Please enter the data key provided to authorize recording completed surveys. This can be obtained in the admin
                    page, or by someone who has access to that page. Once the data key has been verified, the survey can begin.
                </div>
            </div>
            <div class="row" id="surveyContainer"></div>
        </div>
    </div>
    
    <!-- Refresh Button -->
    <div class="row">
        <div class="col-md-12">
            <button type="button" id="take-another" class="btn btn-primary" style="width:100%; visibility: hidden;"
                onclick="reloadPage()">
                Take Another Survey
            </button>
        </div>
    </div>
    <br/>
    <br/>

    <!-- Hidden fields for date/time/location -->
    <input type="hidden" name="survey_location" id="survey_location">
    <input type="hidden" name="survey_date" id="survey_date">
    <input type="hidden" name="survey_time" id="survey_time">
</div>

{% endblock %} 
